
/* common styles */


body {
    margin: 0;
}
.main-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

body .beige {
    color: rgba(227,184,115,1);
}

/* header styles */


.header {
    height: 83px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
}

.logo {
    display: inline;    
}

.header-wrapper {
    display: flex;
    width: 1256px;
    justify-content: space-between;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation a {
    color: rgb(255,255,255,1);
    text-decoration: none;
    margin: 37px 47px 36px;
}

.call-button {
    color: white;
    background-color: rgba(227,184,115,1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    padding: 13px 33px;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}


/* section-1 styles */


.shading {
    width: 1437px;
    height: 707px;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.7);
}
.section-1{
    background-image: url(../images/image4.3.jpg);
    width: 1437px;
    height: 707px;
    background-color: black;
}

.section-1_content {
    width: 676px;
    height: 305px;
    margin-left: 134px;
    padding-top: 156px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.heading {
    margin: 0;
}
