
/* common */


body {
    margin: 0;
    color: white;
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Yeseva One, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

p {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.beige {
    color: rgba(227,184,115,1);
}

.uppercase {
    text-transform: uppercase;
}

.button {
    padding: 0;
    color: white;
    background-color: rgba(227,184,115,1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    cursor: pointer;
}

/* header */


.header {
    background-color: rgb(19, 19, 19);
}    

.container {
    max-width: 1236px;
    margin: 0 auto;
    width: 100%;
}

.header-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    max-width: 1256px;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation a {
    color: rgb(255,255,255,1);
    text-decoration: none;
}


/* section-1 */

.section-1{
    background-image: url(../images/image4.3.jpg);
    background-size: cover;
    background-position: center center;
}

.shading {
    background-color: rgba(0,0,0,0.7);
}

.section-1_content {
    padding-top: 194px;
    padding-bottom: 208px;
}

.section-1_heading {
    max-width: 676px;
    font-size: 40px;
    line-height: 53px;
}

.section-1_text {
    max-width: 504px;
    font-size: 22px;
    line-height: 36px;
    margin-top: 19px;
}


/* section-2 */

.section-2 {
    background-color: #131313;
}

.section-2_content {
    padding-top: 107px;
    padding-bottom: 415px;
    display: flex;
    justify-content: space-between;
}

.project_name {
    color: rgba(255, 255, 255, 0.3);
    font-family: Yeseva One, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 7px;
    margin-right: 60.5px;
}

.curent {
    color: #E3B873;
    border-bottom: solid thin #E3B873;
}

.project_name:hover {
    cursor: pointer;
}

.s2_heading {
    margin-top: 69px;
    margin-bottom: 34px;
    font-size: 27px;
    line-height: 37px;
    height: 66px;
    width: 253px;
}
.section-2_text {
    width: 442px;
    height: 86px;
    font-size: 14px;
    line-height: 27px;
}

.admiral_img {
    display: block;
    width: 679px;
    height: 482px;
    padding-top: 53px;
}

.description {
    width: 442px;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
}

.description h3 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 32px;
}

.project_information p {
    font-size: 13px;
    line-height: 21px;
}

.project_information {
    width: 180px;
}

.pagination {
    margin-top: 80px;
    width: 206px;
    display: flex;
    justify-content: space-between;
}

.icon-dot {
    font-size: 9px;
}

.other_dot {
    color: rgba(255, 255, 255, 0.3);
}


/* section 3 */

.section-3_container {
    position: relative;
    top: -324px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section-3_heading {
    color: white;
}

.section-3_headings-items {
    display: flex;
    justify-content: space-between;
}

.icon-camera {
    color: #E3B873;
}

.heading_line {
    position: absolute;
    background-color: #E3B873; 
    height: 1.54px;
    width: 32px;
    margin: 10px;
}

.section-3_image {
    display: block;
    width: 817px;
    height: 434px;
    margin-top: 72px;
}

.section-3_image::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.15);
}

.section-3_text {
    width: 681px;
    height: 131px;
    color: black;
    margin-top: 98.5px;
}

/* buttons */

.call-button {
    padding: 13px 33px;
}

.application_button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: none;
}

.section-1_button {
    width: 207px;
    height: 51px;
    margin-top: 41px;
    margin-right: 20px;
}

.mobile_button {
    display: none;
}


/* media styles */

@media screen and (max-width: 1299px) {
    .header-navigation, .call-button{
        display: none;
    }

    .header-wrapper {
        padding: 23px 18px;
        height: 57px;
    }

    .number {
        color: white;
        text-decoration: none;
    }

    .section-1_content {
        padding: 85px 18px 61px;
    }
    
    .heading {
        font-size: 23px;
        line-height: 132.83%;
    }

    .section-1_text {
        font-size: 14px;
        line-height: 135.84%;
        margin-top: 16px;
        margin-bottom: 32px;
    }   

    .section-1_button {
        max-width: 338.61px;
        margin-top: 26px;
        width: 100%; 
    }

    .mobile_button {
        display: block;
    }

    .desktop_button {
        display: none;
    }    
  }

/* iconic font */

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-stroke2:before{content:'\0041';}
.icon-stroke1:before{content:'\0042';}
.icon-camera:before{content:'\0043';}
.icon-tools:before{content:'\0044';}
.icon-dot:before{content:'\0045';}
.icon-Stroke:before{content:'\0046';}