
/* common */


body {
    margin: 0;
    color: white;
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Yeseva One, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 27px;
    line-height: 37px;
    color: #E3B873;
}

ul {
    padding: 0;
    list-style-position: inside;
}

p, legend {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.beige {
    color: rgba(227,184,115,1);
}

.uppercase {
    text-transform: uppercase;
}

.button {
    padding: 0;
    color: white;
    background-color: rgba(227,184,115,1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    cursor: pointer;
}

.fieldset {
    border: 0px;
    padding: 0px;
}


.horizontal_separation {
    display: flex;
    justify-content: space-between;
}

input {
    border: 0px;
}

.mobile_inline {
    display: none;
}

.mobile_block {
    display: none;
}

/* header */


.header {
    background-color: rgb(19, 19, 19);
}    

.container {
    max-width: 1236px;
    margin: 0 auto;
    width: 100%;
}

.header-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    max-width: 1256px;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation a {
    text-decoration: none;
}

.header-link {
    color: rgb(255,255,255,1);
}

.header-link:hover {
    color: #E3B873;
}


/* section-1 */

.section-1{
    background-image: url(../images/image4.3.jpg);
    background-size: cover;
    background-position: center center;
}

.shading {
    background-color: rgba(0,0,0,0.7);
}

.section-1_content {
    padding-top: 194px;
    padding-bottom: 208px;
}

.section-1_heading {
    max-width: 676px;
    font-size: 40px;
    line-height: 53px;
}

.section-1_text {
    max-width: 504px;
    font-size: 22px;
    line-height: 36px;
    margin-top: 19px;
}


/* section 2 */

.section-2 {
    background-color: #131313;
}

.section-2_content {
    padding-top: 107px;
    padding-bottom: 415px;
    display: flex;
    justify-content: space-between;
}

.completed_projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_name {
    color: rgba(255, 255, 255, 0.3);
    font-family: Yeseva One, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 7px;
    margin-right: 60.5px;
}

.curent {
    color: #E3B873;
    border-bottom: solid thin #E3B873;
}

.project_name:hover {
    cursor: pointer;
    color: #E3B873;
}

.section-2_heading {
    margin-top: 69px;
    height: 66px;
    width: 253px;
    letter-spacing: -0.07em;
}

.section-2_text {
    width: 442px;
    height: 86px;
    font-size: 14px;
    line-height: 27px;
}

.section-2_text_mobile {
    display: none;
}

.section-2_desktop-image {
    display: block;
    width: 679px;
    height: 482px;
    padding-top: 53px;
}

.characteristics {
    width: 442px;
    display: flex;
    flex-wrap: wrap;
}

.characteristics h3 {
    font-size: 18px;
    line-height: 25px;
}

.project_information p {
    font-size: 13px;
    line-height: 21px;
    margin-top: 9px;
}

.project_information {
    width: 180px;
    margin-bottom: 32px;
}

.pagination {
    width: 206px;
}

.flex-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 0px 7px;
}

.other_dot {
    background: rgba(255, 255, 255, 0.3);
}


/* section-2 arrows */

.arrow {
    display: block;
    background-color: white;
    width: 40.5px;
    height: 1.3px;
    cursor: pointer;
}

.arrow-left::before {
    content: '';
    display: block;
    position: relative;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
}

.arrow-left::after {
    content: '';
    display: block;
    position: relative;
    top: -1px;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
}

.arrow-right::before {
    content: '';
    display: block;
    position: relative;
    top: 1px;
    left: 40px;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(135deg);
    transform-origin: 0% 0%;
}

.arrow-right::after {
    content: '';
    display: block;
    position: relative;
    left: 40px;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(-135deg);
    transform-origin: 0% 0%;
}

/* section 3 */

.section-3_container {
    position: relative;
    top: -324px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;  
}

.section-3_heading {
    color: white;
    font-size: 20px;
    line-height: 28px;
}

.section-3_headings-items {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.heading_line {
    display: block;
    position: relative;
    background-color: #E3B873; 
    height: 1.54px;
    width: 32px;
    margin: 10px;
}

.section-3_overline {
    display: block;
    width: 55px;
    height: 1.54px;
    background-color: #E3B873;
    margin-top: 62.5px;
}

.section-3_image {
    display: block;
    position: relative;
    width: 817px;
    height: 434px;
    margin-top: 72px;
    background-image: url(../images/online_control.jpg);
    background-size: auto 100%;
    background-position: center center;
}

.section-3_image::before {
    content: '';
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 817px;
    height: 434px;
}

.section-3_text {
    width: 681px;
    height: 131px;
    margin-top: 34.5px;
    font-size: 18px;
    line-height: 37px;
}

.section-3_contacts {
    margin-top: 91.5px;
    display: flex;
}

.section-3_form-wrapper {
    width: 231px;
    height: 45px;
    margin-right: 49px;
    text-align: left;
}

.section-3_label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.section-3_input {
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);;
    width: 231px;
    height: 32px;
}

.section-3_input::placeholder {
    color: #363636;
}

.checkbox_wrapper {
    margin-top: 37px;
    cursor: pointer;
}

.checkbox {
    display: none;
}

.good_checkbox {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    background: #E3B873;
    border-radius: 1px;
    vertical-align: top;
    margin-right: 8.5px;
}

.good_checkbox::before {
    content:'';
    position: absolute;
    display: inline-block;
    z-index: 3;
    width: 18px;
    height: 18px;
    left: 0px;
    background-image: url(../images/veсtor/checkmark.svg);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
}

.checkbox:checked + .good_checkbox::before{
    opacity: 1;
  }

.agreement {
    font-size: 14px;
    line-height: 23px;    
}

/* Section 4 */

.section-4_container {
    color: black;
    top: -248px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4_heading {
    font-size: 18px;
    line-height: 25px;
}

.repair_icons {
    width: 114px;
    height: 28px;
    margin-top: 13px;
    margin-bottom: 31px;
}

.repair_types {
    width: 1236px;
    display: flex;
    justify-content: space-between;
}

.type {
    width: 392px;
    height: 421px;
    background-size: 100% 100%;
}

.redecorating {
    background-image: url(../images/redecorating.jpg);
}

.overhaul {
    background-image: url(../images/overhaul.jpg);
}

.designer_repair {
    background-image: url(../images/repair.jpg);
}

.panel {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    width: 330px;
    height: 286px;
    position: relative;
    left: 31px;
    top: 294px;
    text-align: left;
}

.list {
    padding: 25px 31px 0px;
}

.panel li {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.panel h4 {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    text-transform: none;
}


/* section 5 */

.section-5_container {
    margin: 63px auto 322px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: url(../images/section-5_background.jpg) no-repeat;
    background-size: contain;
}

.section-5_left {
    color: #363636;
    margin: 117px 0px 0px 146px;
    font-size: 14px;
    line-height: 19px;
}

.section-5_list {
    width: 375px;
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    counter-reset: item;
}   

.section-5_list-item {
    position: relative;
    z-index: 2;
    padding-left: 35px;
}

.section-5_list-item::marker {
    content: '0';
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-family: Yeseva One, Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.section-5_list-item::before {
    content: counter(list-item) '';
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    left: 2px;
    top: -3px;
    font-family: Yeseva One, Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.section-5_list-item::after {
    content: '';
    background: #E3B873;
    display: block;
    position: absolute;
    z-index: -1;
    width: 42px;
    height: 42px;
    left: -29px;
    top: -19px;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
}

.section-5_right {
    margin: 106px 0px 30px;
}

.section-5_contacts {
    background: #131313;
    color: white;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 506px;
    height: 509px;
}

.section-5_form-wrapper {
    display: flex;
    flex-direction: column;
    width: 408px;
    margin-left: 49px;
}

.section_5-fieldset {
    width: 408px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-5_legend {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 28px 0px 34px;
}

.section-5_label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.section-5_input {
    width: 408px;
    height: 33px;
    background-color: transparent;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.section-5_input::placeholder {
    color: #ffffff;
}

.section-5_checkbox_wrapper {
    margin-top: 18px;
}

.section-5_button {
    margin-top: 39px;
    align-self: flex-end;
    width: 213px;
    height: 51px;
}

.piggy_comment {
    display: flex;
    position: absolute;
    margin-top: 38.5px;
}

.piggy-comment_text {
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    font-size: 18px;
    line-height: 26px;
    margin-top: 14px;
}

.pig {
    margin-left: 16px;
    margin-top: 19.5px;
}

.section-5_circle {
    width: 72px;
    height: 72px;
    margin-right: 25px;
    border-radius: 50%;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2); 
}



/* section 6 */


.section-6 {
    background-image: url(../images/section-6_background.jpg);
    background-size: cover;
    background-position: center center;
}

.section-6_shading {
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.section-6_container {
    padding-top: 137.5px;
    display: flex;
    height: 864px;
}

.section-6_heading {
    width: 411px;
    margin-bottom: 47px;
}

.section-6_menu {
    margin-right: 77px;
    width: 411px;
    height: 516px;
}

.section-6_list {
    width: 299px;
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-6_list-item {
    font-size: 20px;
    line-height: 38px;
    list-style-type: none;
}

.section-6_list-item:hover {
    color: #E3B873;
}

.section-6_photo-left, .section-6_photo-right {
    width: 354px;
    position: relative;
    margin-right: 43px;
}

.section-6_image-1, .section-6_image-2 {
    margin-bottom: 38px;
}

.section-6_photo-left {
    bottom: 179px;
}

.section-6_photo-right {
    bottom: 250px;
}


/* section 7 */


.section-7 {
    margin-top: 110.5px;

}

/* buttons */



.call-button {
    padding: 13px 33px;
}

.application_button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: none;
}

.section-1_button {
    width: 207px;
    height: 51px;
    margin-top: 41px;
    margin-right: 20px;
}

.submit_button {
    height: 51px;
    width: 200px;
}

.price_button {
    width: 228px;
    height: 54px;
    font-family: Yeseva One;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
}

.video_button {
    display: block;
    position: absolute;
    z-index: 2;
    width: 85px;
    height: 85px;
    left: 365px;
    top: 174px;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 50%;
}

.video_button::before {
    content:'';
    position: absolute;
    width: 28px;
    height: 28px;
    right: 29px;
    top: 29px;
    background-image: url(../images/veсtor/Polygon.svg);
    background-position: center right;
    background-repeat: no-repeat;
}


/* media styles */

@media screen and (max-width: 1299px) {
    /* common */

    .mobile_block {
        display: block;
    }

    .mobile_inline {
        display: inline;
    }

    .desktop {
        display: none;
    }   
    
    .button {
        max-width: 338.61px;
        width: 100%; 
    }

    /* header */

    .header-navigation, .call-button{
        display: none;
    }

    .header-wrapper {
        padding: 23px 18px;
        height: 57px;
    }

    .number {
        color: white;
        text-decoration: none;
    }
    

    /* section_1  */

    .section-1_content {
        padding: 85px 18px 61px;
    }
    
    .section-1_heading {
        max-width: 339px;
        font-size: 23px;
        line-height: 30px;
    }

    .section-1_text {
        font-size: 14px;
        line-height: 135.84%;
        margin-top: 16px;
        margin-bottom: 32px;
    }   

    .section-1_button {
        margin-top: 26px;
    }

    
    /* section 2 */

    .section-2_content {
        padding-top: 36px;
        justify-content: center;
    }

    .completed_projects {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .section-2_heading {
        font-size: 22px;
        line-height: 138.6%;
        margin-top: 36px;
        margin-bottom: 22px;
    }

    .section-2_text {
        width: 311px;
        font-size: 11px;
        line-height: 17px;
    }

    .section-2_mobile-image {
        width: 340px;
        height: 241px;
        background-image: url(../images/admiral_mob.jpg);
        margin-top: 36px;
        margin-bottom: 10px;
        display: flex;
    }
    
    .buttons_wrapper {
        display: flex;
        justify-content: space-between;
        margin: 103px 14px 0px;
        width: 340px;
    }

    .arrow_button {
        display: block;
        position: relative;
        width: 36px;
        height: 36px;
        background: #E3B873;
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
        border-radius: 50%;
    }

    .arrow_button_left::before {
        content:'';
        position: absolute;
        z-index: 2;
        width: 35px;
        height: 35px;
        top: 0px;
        right: 0px;
        display: block;
        background-image: url(../images/veсtor/arrow-left.svg);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .arrow_button_right::before {
        content:'';
        position: absolute;
        z-index: 2;
        width: 35px;
        height: 35px;
        top: 0px;
        right: 0px;
        background-image: url(../images/veсtor/arrow-right.svg);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .characteristics {
        width: 340px;
    }

    .characteristics h3 {
        font-size: 14px;
        line-height: 19px;
        margin-top: 27px;
    }

    .project_information {
        width: 160px;
        text-align: left;
        margin: 0px;
    }

    .project_information p {
        font-size: 11px;
        line-height: 18px;
        margin-top: 13px;
    }


    /* section-3 */

    .section-3_container {
        background-color: #131313;
        color: white;
    }

    .section-3_image {
        width: 340px;
        height: 207px;
        margin-top: 40px;
    }

    .section-3_image::before {
        content: '';
        position: absolute;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        width: 340px;
        height: 207px;
    }

    .submit_button {
        position: relative;
        top: 25px;
    }

    .video_button {
        width: 37px;
        height: 37px;
        left: 152px;
        top: 85px;
    }

    .video_button::before {
        content:'';
        position: absolute;
        width: 12px;
        right: 10.5px;
        top: 4.5px;
        background-image: url(../images/veсtor/Polygon.svg);
        background-position: center right;
        background-repeat: no-repeat;
    }
    
    .section-3_text {
        width: 340px;
        height: 107px;
        margin-top: 21.5px;
        font-size: 11px;
        line-height: 19px;
    }

    .section-3_contacts {
        flex-direction: column;
        margin-top: 0px;
    }

    .section-3_form-wrapper {
        width: 340px;
        height: 45px;
        margin-top: 62px;
        margin-right: 0px;
        text-align: left;
    }

    .section-3_label {
        color: rgba(255, 255, 255, 0.5);
    }
    
    .section-3_input {
        font-size: 14px;
        line-height: 19px;
        color: #ffffff;
        background-color: transparent;
        border-bottom: 1px solid #ffffff;
        width: 340px;
        height: 45px;
    }

    .section-3_input::placeholder {
        color: #ffffff;
    }

    .checkbox_wrapper {
        text-align: left;
        margin-top: 48px;
    }

    /* section-4 */

    .repair_types {
        flex-direction: column;
        width: 340px;
    }

    .type {
        margin-bottom: 178px;
        width: 340px;
        height: 365px;
    }
    
    .overhaul {
        background-image: url(../images/overhaul_mobile.jpg);
    }

    .panel {
        /* display: none; */
        width: 270px;
        height: 241px;
        font-size: 13px;
        line-height: 22px;
        left: 0px;
        top: 244px;
    }
    
    .list {
        padding: 21px 31px 0px;
    }

    .panel li {
        margin: -5px;
    }

    .price_button {
        font-size: 15px;
        line-height: 138.6%;
        width: 190px;
        height: 40px;
        align-self: flex-start;
    }
  }
