
/* common */


body {
    margin: 0;
    color: white;
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Yeseva One, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

p {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.beige {
    color: rgba(227,184,115,1);
}

.uppercase {
    text-transform: uppercase;
}

.button {
    padding: 0;
    color: white;
    background-color: rgba(227,184,115,1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    cursor: pointer;
}

.horizontal_separation {
    display: flex;
    justify-content: space-between;
}

/* header */


.header {
    background-color: rgb(19, 19, 19);
}    

.container {
    max-width: 1236px;
    margin: 0 auto;
    width: 100%;
}

.header-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    max-width: 1256px;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation a {
    color: rgb(255,255,255,1);
    text-decoration: none;
}


/* section-1 */

.section-1{
    background-image: url(../images/image4.3.jpg);
    background-size: cover;
    background-position: center center;
}

.shading {
    background-color: rgba(0,0,0,0.7);
}

.section-1_content {
    padding-top: 194px;
    padding-bottom: 208px;
}

.section-1_heading {
    max-width: 676px;
    font-size: 40px;
    line-height: 53px;
}

.section-1_text {
    max-width: 504px;
    font-size: 22px;
    line-height: 36px;
    margin-top: 19px;
}


/* section-2 */

.section-2 {
    background-color: #131313;
}

.section-2_content {
    padding-top: 107px;
    padding-bottom: 415px;
    display: flex;
    justify-content: space-between;
}

.project_name {
    color: rgba(255, 255, 255, 0.3);
    font-family: Yeseva One, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 7px;
    margin-right: 60.5px;
}

.curent {
    color: #E3B873;
    border-bottom: solid thin #E3B873;
}

.project_name:hover {
    cursor: pointer;
}

.s2_heading {
    margin-top: 69px;
    margin-bottom: 34px;
    font-size: 27px;
    line-height: 37px;
    height: 66px;
    width: 253px;
}
.section-2_text {
    width: 442px;
    height: 86px;
    font-size: 14px;
    line-height: 27px;
}

.admiral_img {
    display: block;
    width: 679px;
    height: 482px;
    padding-top: 53px;
}

.description {
    width: 442px;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
}

.description h3 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 32px;
}

.project_information p {
    font-size: 13px;
    line-height: 21px;
    margin-top: 9px;
}

.project_information {
    width: 180px;
}

.pagination {
    margin-top: 80px;
    width: 206px;
}

.flex-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 0px 7px;
}

.other_dot {
    background: rgba(255, 255, 255, 0.3);
}


/* section-2 arrows */

.arrow {
    display: block;
    background-color: white;
    width: 40.5px;
    height: 1.3px;
    cursor: pointer;
}

.arrow-left::before {
    content: '';
    display: block;
    position: relative;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
}

.arrow-left::after {
    content: '';
    display: block;
    position: relative;
    top: -1px;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
}

.arrow-right::before {
    content: '';
    display: block;
    position: relative;
    top: 1px;
    left: 40px;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(135deg);
    transform-origin: 0% 0%;
}

.arrow-right::after {
    content: '';
    display: block;
    position: relative;
    left: 40px;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(-135deg);
    transform-origin: 0% 0%;
}

/* section 3 */

.section-3_container {
    position: relative;
    top: -324px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    
}

.section-3_heading {
    color: white;
    font-size: 20px;
    line-height: 28px;
}

.section-3_headings-items {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.heading_line {
    display: block;
    position: relative;
    background-color: #E3B873; 
    height: 1.54px;
    width: 32px;
    margin: 10px;
}

.section-3_overline {
    display: block;
    width: 55px;
    height: 1.54px;
    background-color: #E3B873;
    margin-top: 62.5px;
}

.section-3_image {
    display: block;
    position: relative;
    width: 817px;
    height: 434px;
    margin-top: 72px;
    background-image: url(../images/online_control.jpg);
}

.section-3_image::before {
    content: '';
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 817px;
    height: 434px;
}

.circle {
    display: block;
    position: absolute;
    z-index: 2;
    width: 85px;
    height: 85px;
    left: 365px;
    top: 174px;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 50%;
}

.section-3_text {
    width: 681px;
    height: 131px;
    margin-top: 34.5px;
    font-size: 18px;
    line-height: 37px;
}

.contacts {
    margin-top: 91.5px;
    display: flex;
    
}

.form-wrapper {
    width: 231px;
    height: 45px;
    margin-right: 49px;
    text-align: left;
}

.text, .phone {
    border: none;
    /* border-bottom: 1px solid rgba(54, 54, 54, 0.3); */
}

.label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.section-3_input {
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.checkbox_wrapper {
    margin-top: 37px;
}

.bad_checkbox {
    display: none;
}

.good_checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #E3B873;
    border-radius: 1px;
    vertical-align: top;
}

.good_checkbox::after {
    content:'';
    position: absolute;
    background-image: url(../images/veсtor/checkmark.svg);
}

.bad-checkbox:checked + .good_checkbox::after{
    opacity: 1;
  }

.agreement {
    font-size: 14px;
    line-height: 23px;    
}

/* Section 4 */

.section-4_container {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4_heading {
    font-size: 18px;
    line-height: 25px;
}

.repair_icons {
    width: 114px;
    height: 28px;
    margin-top: 13px;
    margin-bottom: 31px;
}

.repair_types {
    width: 1236px;
    height: 608px;
    display: flex;
    justify-content: space-between;
}

.type {
    width: 392px;
    height: 421px;
    background-color: black;
}

.redecorating {
    background-image: url(../images/redecorating.jpg);
}

.overhaul {
    background-image: url(../images/overhaul.jpg);
}

.designer_repair {
    background-image: url(../images/repair.jpg);
}

.panel {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    width: 330px;
    height: 286px;
    padding: 25px 31px 0;
    position: relative;
    left: 31px;
    top: 294px;
    text-align: left;
}

.panel li {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.panel h4 {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

/* buttons */

.call-button {
    padding: 13px 33px;
}

.application_button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: none;
}

.section-1_button {
    width: 207px;
    height: 51px;
    margin-top: 41px;
    margin-right: 20px;
}

.mobile_button {
    display: none;
}

.section-3_button {
    height: 51px;
    width: 200px;
}

.price_button {
    width: 228px;
    height: 54px;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
}

/* media styles */

@media screen and (max-width: 1299px) {
    .header-navigation, .call-button{
        display: none;
    }

    .header-wrapper {
        padding: 23px 18px;
        height: 57px;
    }

    .number {
        color: white;
        text-decoration: none;
    }

    .section-1_content {
        padding: 85px 18px 61px;
    }
    
    .heading {
        font-size: 23px;
        line-height: 132.83%;
    }

    .section-1_text {
        font-size: 14px;
        line-height: 135.84%;
        margin-top: 16px;
        margin-bottom: 32px;
    }   

    .section-1_button {
        max-width: 338.61px;
        margin-top: 26px;
        width: 100%; 
    }

    .mobile_button {
        display: block;
    }

    .desktop_button {
        display: none;
    }    
  }

/* iconic font */

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-stroke2:before{content:'\0041';}
.icon-stroke1:before{content:'\0042';}
.icon-camera:before{content:'\0043';}
.icon-tools:before{content:'\0044';}
.icon-dot:before{content:'\0045';}
.icon-Stroke:before{content:'\0046';}